// --------------------------------------------------
// SCSS for the Event View
// --------------------------------------------------

.header-event {
	border-bottom: 1px solid #eee;
	margin-bottom: 2em;

	.event-title {
		background-color: rgba($color-orange, .5);
	}
}

