// --------------------------------------------------
// SCSS for the Event View
// --------------------------------------------------

.header-event {
	border-bottom: 1px solid #eee;
	margin-bottom: 2em;

	.event-title {
		background-color: rgba($color-orange, .5);
	}
}

.advertisement {
	text-align: center;
	height: 300px;
	line-height: 300px;
	color: #fff;
	font-size: 20px;
	background-color: rgba(black, .6);
	padding: 0;
}

