// --------------------------------------------------
// SCSS for the Event View
// --------------------------------------------------

.header-event {
	border-bottom: 1px solid #eee;
	margin-bottom: 2em;
	overflow: hidden;
}