// --------------------------------------------------
// SCSS for the Main View
// --------------------------------------------------

.logo {
	background: url('/images/cultvult-logo.svg') no-repeat;
	display: inline-block;
	@extend %ir;
	width: 140px; height: 158px;
}

.header-search {
	text-align: center;
}