// --------------------------------------------------
// SCSS for the Main View
// --------------------------------------------------
.ng-scope {
	height:100%;
}
// .top-section {
// 	background-image:url('/image/bg-top-section.jpg');
// 	background-position:top center;
// 	background-size:cover;
// 	width:100%;
// 	height:100%;
// }

.logo {
	background: url('/images/cultvult-logo.svg') no-repeat;
	display: inline-block;
	@extend %ir;
	width: 140px; height: 158px;
}

.header-search {
	text-align: center;
}

.top-logo {
	width:50%;
	margin:0 auto;
}

.search-wrapper  {
	border:4px solid $vulture-blue;
	width:80%;
	margin:50px auto;
	overflow:hidden;
	border-radius: 29px;
	@include media(768px,max-width) {
		width:100%;
	}
	.search-main {
		  width: 60%;
		  float: left;
		  padding: 4px 4px 4px 17px;
		  font-size: 12px;
		  text-transform: uppercase;
		  font-weight: normal;
	}
	.search-date {
		width:20%;
		float:left;
		padding: 4px 4px 4px 17px;
		  font-size: 12px;
		  text-transform: uppercase;
		  font-weight: normal;
	}
	.search-submit {
		width:20%;
		float:right;
		  background-color: #f36b21;
		  border: none;
		  outline: 0;
		  color: white;
		  padding: 3px;
		  margin: 0px;
	}
}

.upcoming-events {
	h2 {
		background-color:$vulture-yellow;
		  padding: 10px;
		  color: white;
		  text-transform: uppercase;
		  font-size: 17px;
		  font-weight: bold;
		  border-top-left-radius: 10px;
		  border-bottom-right-radius: 10px;
	}
	
	.event-item {
	  	min-height: 146px;
	  	line-height: 1.2em;
	 	font-size: 12px;	
		color:#676767;
		text-align: center;
		&:hover {
			img {
				 border-bottom: 5px solid $vulture-yellow;
				 margin-bottom:5px;
			}
		}
		@include media(768px,max-width) {
			min-height: 200px;
		}
		img {
			max-width:100%;
			margin-bottom:10px;
		}
		.event-title {
			font-size:14px;
		}
	}
}

.categories {
	[class*="category-"] {
		line-height:3.5em;
		[class*="icon-"] {
			float:left;
			margin-right:10px;
		}
		.title {
			position: relative;
			display: inline-block;
			/* width: 100%; */
			overflow: hidden;
			color:$vulture-blue;
			font-size:25px;
			text-transform:uppercase;
			@include media(1300px,max-width) {
				font-size:20px;
			}
			@include media(1000px,max-width) {
				font-size:17px;
			}
			@include media(900px,max-width) {
			font-size:15px;

			}

			&:after {
				  display: block;
				  content: '';
				  height: 3px;
				  background-color: $color-brown;
				  position: absolute;
				  bottom: 13px;
				  width: 0%;
	  			/* left: 62px; */
	  			transition:width .5s;
			}
		}
		&:hover {
			.title{
				&:after{
					width:100%;
				}
			}
		}
	}
	[class*="-music"]:hover .title {
		color:$color-brown;
		&:after{
			background-color:$color-brown;
		}
	}
	[class*="-arts"]:hover .title {
		color:$color-green;
		&:after {
			background-color:$color-green;
		}
	}
	[class*="-community"]:hover .title {
		color:$color-orange;
		&:after {
			background-color:$color-orange;
		}
	}
	[class*="-sights"]:hover .title {
		color:$color-blue;
		&:after {
			background-color:$color-blue;
		}
	}

}

