@import url(http://fonts.googleapis.com/css?family=Raleway:500,700,300);

@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?utehqa');
	src:url('/fonts/icomoon.eot?#iefixutehqa') format('embedded-opentype'),
		url('/fonts/icomoon.woff?utehqa') format('woff'),
		url('/fonts/icomoon.ttf?utehqa') format('truetype'),
		url('/fonts/icomoon.svg?utehqa#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.circle {
		display: inline-block;
		border-radius: 50%;
		height: 54px; width: 54px;
		line-height: 54px;
		font-size: 35px;
		text-align: center;
	}
}

.icon-arts{
	&:before {
		content: "\e600";
	}
	&.circle {
		background-color: $color-green;
		color: #fff;
		font-size: 28px;
	}
}

.icon-community {
	&:before {
		content: "\e601";
	}
	&.circle {
		background-color: $color-orange;
		color: #fff;
		font-size: 26px;
	}
}

.icon-event {
	&:before {
		content: "\e602";
	}
	&.circle {
		background-color: $color-yellow;
		color: #fff;
		font-size: 35px;
	}
}

.icon-music {
	&:before {
		content: "\e603";
	}
	&.circle {
		background-color: $color-brown;
		color: #fff;
	}
}

.icon-sights {
	&:before {
		content: "\e604";
	}
	&.circle {
		background-color: $color-blue;
		color: #fff;
		font-size: 26px;
	}
}