// --------------------------------------------------
// Variables
// --------------------------------------------------
$bp-sm: 768px;
$bp-md: 960px;
$bp-lg: 1140px;


// Vulture Colot Theme
$vulture-blue:#70a3a0;
$vulture-orange:#f36b21;
$vulture-yellow:#e3a126;