// --------------------------------------------------
// Variables
// --------------------------------------------------
$color-brown: #4D3D1E;
$color-yellow: #E09823;
$color-green: #788137;
$color-orange: #F15F1F;
$color-blue: #669A97;

$bp-sm: 768px;
$bp-md: 960px;
$bp-lg: 1140px;


// Vulture Colot Theme
$vulture-blue:#70a3a0;
$vulture-orange:#f36b21;
$vulture-yellow:#e3a126;