
<div class="top-section">
	<div class="header-search">
	  <h1 class="logo">Culture Vulture</h1>
	  <div class="tagline">
			your culture, your way.
		</div>
	  <form class="search-form" ng-submit="search()">
	  	<div class="search-wrapper">
		    <input class="search-main" ng-model="query" type="text" placeholder="Search for Event">
		    <!-- <button class="search-submit" type="submit">Go!</button> -->
	    </div>
	  </form>
	</div>
	<div class="categories">
		<div class="row">
			<div class="col-md-3 col-sm-3 category-music"><span class="icon-music circle"></span><span class="title">Music</span></div>
			<div class="col-md-3 col-sm-3 category-arts"><span class="icon-arts circle"></span><span class="title">Arts</span></div>
			<div class="col-md-3 col-sm-3 category-community"><span class="icon-community circle"></span><span class="title">Community</span></div>
			<div class="col-md-3 col-sm-3 category-sights"><span class="icon-sights circle"></span><span class="title">Sightings</span></div>
		</div>
	</div>
</div>
<style>.logo-img{display:none;}</style>

<div class="col-xs-12 col-md-8 u-no-padding">
	<ul class="event-list-view">
		<li class="list-item  category-music">
			<span class="icon-music circle"></span>
			<div class="event-title">
				<h2>Empire of the Sun</h2>
			</div>
			<div class="event-info">
				<div class="date col-md-2">04.13.15</div>
				<div class="location col-md-2">Red Rocks</div>
				<div class="street col-md-2">1234 Colorado Blvd</div>
				<div class="tickets col-md-2">Buy Tickets</div>
			</div>
		</li>
		<li class="list-item category-music">
			<span class="icon-music circle"></span>
			<div class="event-title">
				<h2>Empire of the Sun</h2>
			</div>
			<div class="event-info">
				<div class="date col-md-2">04.13.15</div>
				<div class="location col-md-2">Red Rocks</div>
				<div class="street col-md-2">1234 Colorado Blvd</div>
				<div class="tickets col-md-2">Buy Tickets</div>
			</div>
		</li>
		<li class="list-item category-music">
			<span class="icon-music circle"></span>
			<div class="event-title">
				<h2>Empire of the Sun</h2>
			</div>
			<div class="event-info">
				<div class="date col-md-2">04.13.15</div>
				<div class="location col-md-2">Red Rocks</div>
				<div class="street col-md-2">1234 Colorado Blvd</div>
				<div class="tickets col-md-2">Buy Tickets</div>
			</div>
		</li>
		<li class="list-item category-music">
			<span class="icon-music circle"></span>
			<div class="event-title">
				<h2>Empire of the Sun</h2>
			</div>
			<div class="event-info">
				<div class="date col-md-2">04.13.15</div>
				<div class="location col-md-2">Red Rocks</div>
				<div class="street col-md-2">1234 Colorado Blvd</div>
				<div class="tickets col-md-2">Buy Tickets</div>
			</div>
		</li>
	</ul>
</div>
<style>

</style>
<div class="upcoming-events">
	<h2>Upcoming Events</h2>
	<div class="row container-fluid">
		<div class="col-md-6 col-sm-3 event-item item-feature"><img src="/images/upcoming-event-placeholder-1.jpg" alt=""></div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-1.jpg" alt="">
			<div class="event-title">
				Ratatat
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-1.jpg" alt="">
			<div class="event-title">
				Ratatat
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-1.jpg" alt="">
			<div class="event-title">
				Ratatat
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-1.jpg" alt="">
			<div class="event-title">
				Ratatat
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-1.jpg" alt="">
			<div class="event-title">
				Ratatat
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-1.jpg" alt="">
			<div class="event-title">
				Ratatat
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
	</div>
</div>