
<div class="top-section">
	<div class="header-search">
	  <h1 class="logo">Culture Vulture</h1>
	  <div class="tagline">
			your culture, your way.
		</div>
	  <form class="search-form" ng-submit="search()">
	  	<div class="search-wrapper">
		    <input class="search-main" ng-model="query" type="text" placeholder="Search for Event">
		    <!-- <button class="search-submit" type="submit">Go!</button> -->
	    </div>
	  </form>
	</div>
	<div class="categories">
		<div class="row">
			<div class="col-md-3 col-sm-3 category-music"><span class="icon-music circle"></span><span class="title">Music</span></div>
			<div class="col-md-3 col-sm-3 category-arts"><span class="icon-arts circle"></span><span class="title">Arts</span></div>
			<div class="col-md-3 col-sm-3 category-community"><span class="icon-community circle"></span><span class="title">Community</span></div>
			<div class="col-md-3 col-sm-3 category-sights"><span class="icon-sights circle"></span><span class="title">Sights</span></div>
		</div>
	</div>
</div>
<style>.logo-img{display:none;}</style>
<div class="upcoming-events">
	<h2>Upcoming Events</h2>
	<div class="row container-fluid">
		<div class="col-md-6 col-sm-3 event-item item-feature"><img src="/images/upcoming-event-placeholder-1.jpg" alt=""></div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-1.jpg" alt="">
			<div class="event-title">
				Ratatat
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-2.jpg" alt="">
			<div class="event-title">
				MSMR
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-3.jpg" alt="">
			<div class="event-title">
				 Lodo July 4th
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-4.jpg" alt="">
			<div class="event-title">
				Billy Joel
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-5.jpg" alt="">
			<div class="event-title">
				Ratatat
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
		<div class="col-md-2 col-sm-3 event-item">
			<img src="/images/upcoming-event-placeholder-1.jpg" alt="">
			<div class="event-title">
				Ratatat
			</div>
			<div class="event-location">
				 Bluebird Theatre
			</div>
			<div class="event-date">
			 	April 22 	
			</div>
		</div>
	</div>
</div>