<div class="col-xs-12 col-md-12">
	<div class="filters">
		<ul class="filters-category">
			<li ng-repeat="category in categories">
				<label for="{{ category.cat }}">
				<input id="{{ category.cat }}" ng-click="filterToggle(category.cat);" name="{{ category.cat }}" type="checkbox"><span class="icon-{{ category.cat }} circle"></span><span>{{ category.name }}</span></label>
			</li>
		</ul>
	</div>
</div>



<div class="col-xs-12 col-md-12 u-no-padding">
	<ul class="event-list-view view-list">
		<li class="list-item category-music" ng-repeat="event in events">
			<span class="icon-music circle"></span>
			<div class="event-title">
				<h2><a href="#/event/{{ event._id }}">{{event._source.title}}</a></h2>
			</div>
			<div class="event-info">
				<a href="#/event/{{ event._id }}">
					<div class="date col-md-2">{{event._source.start_date }}</div>
					<div class="location col-md-2">Red Rocks</div>
					<div class="street col-md-2">1234 Colorado Blvd</div>
					<div class="tickets col-md-2">Buy Tickets</div>
				</a>
			</div>
		</li>
	</ul>
</div>